<h1>About</h1>
<p>Hello! This rudimentary simulation of Pinterest is a product of my first exercise in Ruby on Rails. Feel free to create an account and try it out!<br/>
<br/>
You can find the source code <a href="https://github.com/xtnchang/pinteresting">here</a>.</p>