<h1>About</h1>
<p>Hello! This bare-bones simulation of Pinterest is a product of my first exercise in Ruby on Rails. Please humor me and create a Pinteresting account today!<br/>
<br/>
You can find the source code <a href="https://github.com/xtnchang/pinteresting">here</a>.</p>